.container {
	width: 400px;
	height: 200vh;
	border: 2px solid black;
	margin: 0 auto;
	position: relative;
}
.box {
	width: 100px;
	height: 100px;
}
.purple {
	background: purple;
	position: relative;
	left: 50px;
	top: 20px;
}
.orange {
	background: orange;
}
.yellow {
	background: yellow;
	position: absolute;
	right: 10px;
}
.red {
	background: red;
	position: fixed;
}
